:root {
  --main-text-color: #212121;
  --project-color: #2196f3;
  --second-accent-color: #188ce8;
  --second-text-color: #757575;
  --third-text-color: #fff;
  --hero-back-color: #2f303a;
  --background-color: #f5f5f5;
  --section-team-back-color: #f5f4fa;
  --project-section-back: #eeeeee;
  --logo-color: #000;
  --header-border-line: #ececec;
  --company-logo-color: #afb1b8;
  --footer-icon-back-color: #44454e;
  --employment-des-back: rgba(47, 48, 58, 0.8);
  --port-desc-back: rgba(33, 150, 243, 0.9);
  --send-mail-text-color: #acacb0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--third-text-color);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  /* color */
  background-color: var(--third-text-color);
  color: var(--main-text-color);
  /* font */
  font-weight: bold;
  line-height: 1.2;
  min-height: 60px;
  border-bottom: 1px solid var(--header-border-line);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* /header-logo/ */
.header__nav-logo {
  text-align: left;
  /* font */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* color */
  color: var(--logo-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header__nav-logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__logo--accent {
  /* color */
  color: var(--project-color);
}

/* header-navigation */
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  -webkit-transition-property: background-color, color, fill, border-color, -webkit-box-shadow;
  transition-property: background-color, color, fill, border-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color, fill, border-color;
  transition-property: background-color, box-shadow, color, fill, border-color, -webkit-box-shadow;
  -webkit-transition-duration: cubic-bezier(0.4, 0, 0.2);
          transition-duration: cubic-bezier(0.4, 0, 0.2);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.header__nav-link {
  position: relative;
  /* font */
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  /* color */
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--main-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.header__nav-list {
  display: none;
  padding-left: 0;
  margin-left: 93px;
  margin-bottom: 0px;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link:hover, .header__nav-link:focus, .header__nav-link:active,
.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active,
.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active {
  /* color */
  color: var(--project-color);
}

.header__nav--current {
  position: relativ;
  color: var(--project-color);
}

.header__nav--current::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--project-color);
  border-radius: 2px;
}

/* header-contacts */
.header__contacts-link {
  display: inline-block;
  /* font */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* color */
  color: var(--second-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
@media screen and (min-width: 768px) {
  .header__contacts-link {
    font-size: 12px;
    line-height: 1.1666666667;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header__contacts {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 138px;
    width: 100%;
    gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 30px;
    width: 100%;
    max-width: 333px;
  }
}

.header__contacts-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__contacts-item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .header__contacts-item:not(:last-child) {
    margin-right: 0px;
  }
}

.header__contacts-link:hover, .header__contacts-link:focus, .header__contacts-link:hover .header__contacts-icon, .header__contacts-link:focus .header__contacts-icon,
.header__contacts-link:hover,
.header__contacts-link:focus,
.header__contacts-link:hover .header__contacts-icon,
.header__contacts-link:focus .header__contacts-icon,
.header__contacts-link:hover,
.header__contacts-link:focus,
.header__contacts-link:hover .header__contacts-icon,
.header__contacts-link:focus .header__contacts-icon,
.header__contacts-link:hover,
.header__contacts-link:focus,
.header__contacts-link:hover .header__contacts-icon,
.header__contacts-link:focus .header__contacts-icon {
  color: var(--project-color);
  fill: var(--project-color);
}

.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.header__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 100%;
  max-width: 40px;
  max-height: 40px;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu-btn {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.section__hero {
  background-color: var(--hero-back-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-mob@x1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mob@x1.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-mob@x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mob@x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section__hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_desc@x1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_desc@x1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_desc@x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_desc@x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section__hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_desc@x1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_desc@x1.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section__hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_desc@x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_desc@x2.jpg);
  }
}

.section__hero-title {
  /* font */
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  /* color */
  color: var(--third-text-color);
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .section__hero-title {
    font-size: 44px;
    line-height: 0.9545454545;
  }
}

.section__hero-button {
  /* color */
  color: var(--third-text-color);
  background-color: var(--project-color);
  /* cursor */
  cursor: pointer;
  /* font */
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.section__hero-button:hover, .section__hero-button:focus,
.section__hero-button:hover,
.section__hero-button:focus {
  /* color */
  background-color: var(--second-accent-color);
  color: var(--third-text-color);
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .feature__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.feature__item {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .feature__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    max-width: 270px;
    margin-bottom: 0px;
  }
}

.feature__item::before {
  display: block;
  content: "";
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: var(--section-team-back-color);
}

.feature__item-one::before {
  background-image: url(../images/features/antenna1_mob@x1.png);
  background-size: 70px 70px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .feature__item-one::before {
    background-image: url(../images/features/antenna1_mob@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .feature__item-one::before {
    background-image: url(../images/features/antenna1_mob@x1.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .feature__item-one::before {
    background-image: url(../images/features/antenna1_mob@x2.png);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item-one::before {
    background-image: url(../images/features/antenna1_mob@x1.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .feature__item-one::before {
    background-image: url(../images/features/antenna1_mob@x2.png);
  }
}

.feature__item-two::before {
  background-image: url(../images/features/clock1_mob@x1.png);
  background-size: 70px 70px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .feature__item-two::before {
    background-image: url(../images/features/clock1_mob@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .feature__item-two::before {
    background-image: url(../images/features/clock1_mob@x1.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .feature__item-two::before {
    background-image: url(../images/features/clock1_mob@x2.png);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item-two::before {
    background-image: url(../images/features/clock1_mob@x1.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .feature__item-two::before {
    background-image: url(../images/features/clock1_mob@x2.png);
  }
}

.feature__item-three::before {
  background-image: url(../images/features/diagram1_mob@x1.png);
  background-size: 70px 70px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .feature__item-three::before {
    background-image: url(../images/features/diagram1_mob@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .feature__item-three::before {
    background-image: url(../images/features/diagram1_mob@x1.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .feature__item-three::before {
    background-image: url(../images/features/diagram1_mob@x2.png);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item-three::before {
    background-image: url(../images/features/diagram1_mob@x1.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .feature__item-three::before {
    background-image: url(../images/features/diagram1_mob@x2.png);
  }
}

.feature__item-four::before {
  background-image: url(../images/features/astronaut1_mob@x1.png);
  background-size: 70px 70px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .feature__item-four::before {
    background-image: url(../images/features/astronaut1_mob@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .feature__item-four::before {
    background-image: url(../images/features/astronaut1_mob@x1.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .feature__item-four::before {
    background-image: url(../images/features/astronaut1_mob@x2.png);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item-four::before {
    background-image: url(../images/features/astronaut1_mob@x1.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .feature__item-four::before {
    background-image: url(../images/features/astronaut1_mob@x2.png);
  }
}

.feature__item-name {
  /* font */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  /* color */
  color: var(--main-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .feature__item-name {
    text-align: left;
  }
}

.feature__item-description {
  /* font */
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  /* color */
  color: var(--second-text-color);
  margin: 0;
}

.section__employment {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section__employment {
    display: block;
  }
}

.employment__title {
  margin-top: 0px;
}

.employment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.employment__item--image-box {
  position: relative;
}

.employment__item-description {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
  color: var(--third-text-color);
  background-color: var(--employment-des-back);
}

.team {
  background-color: var(--section-team-back-color);
}

.team .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .card {
  background-color: var(--third-text-color);
  width: 450px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team .card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team .card {
    max-width: 270px;
  }
}

.team .image {
  display: block;
  min-width: 100%;
}
@media screen and (min-width: 768px) {
  .team .image {
    min-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team .image {
    min-width: auto;
  }
}

.team .name-spec {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .name {
  /* font */
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* color */
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team .specialization {
  /* font */
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* color */
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team .card-social {
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-social .item {
  width: 44px;
  height: 44px;
}

.card-social .link {
  -webkit-transition-property: background-color, fill, border-radius;
  transition-property: background-color, fill, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.card-social .link:hover .icon,
.card-social .link:focus .icon {
  fill: var(--third-text-color);
}

.card-social .link:hover,
.card-social .link:focus {
  border-radius: 50%;
  background-color: var(--project-color);
}

.card-social .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-social .icon {
  fill: var(--company-logo-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.clients .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.clients .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients .list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients .item,
.clients .link {
  display: inline-block;
  max-height: 92px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.clients .icon {
  border-radius: 4px;
  border: 1px solid var(--company-logo-color);
  width: 210px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  fill: var(--company-logo-color);
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
@media screen and (min-width: 768px) {
  .clients .icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients .icon {
    width: 170px;
  }
}

.clients .link:hover .icon,
.clients .link:focus .icon,
.clients .link:hover,
.clients .link:focus {
  fill: var(--project-color);
  border-color: var(--project-color);
  outline: transparent;
}

.footer {
  /* color */
  background-color: var(--hero-back-color);
  /* font */
  font-weight: 400;
  padding: 60px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-contacts {
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 60px;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0px;
    width: auto;
  }
}

.logo-footer {
  display: inline-block;
  max-width: 145px;
  /* font */
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* color */
  color: var(--third-text-color);
  margin-bottom: 20px;
  margin-right: 0;
}

.logo-footer .web {
  color: var(--project-color);
}

.map {
  /* font */
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  /* color */
  color: var(--third-text-color);
}

.contacts-list .link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  /* color */
  color: var(--third-text-color);
  opacity: 0.6;
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.social-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social-footer {
    margin-right: 93px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.social-title {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: var(--third-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social-title {
    text-align: left;
  }
}

.social-footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-footer .item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-back-color);
}

.social-footer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--third-text-color);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.social-footer .link:hover .icon,
.social-footer .link:focus .icon {
  fill: var(--third-text-color);
}

.social-footer .link:hover,
.social-footer .link:focus {
  background-color: var(--project-color);
  border-radius: 50%;
}

.mailing {
  top: 0;
  right: 0;
  width: 100%;
  max-width: 570px;
}

.mailing_title {
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  margin-bottom: 20px;
  color: var(--third-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .mailing_title {
    text-align: start;
  }
}

.mailing .email-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 358px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .mailing .email-box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    max-width: 570px;
  }
}

.footer__mailing-label {
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .footer__mailing-label {
    width: 100%;
    max-width: 358px;
    margin: 0;
  }
}

.mailing .input-email {
  min-height: 50px;
  max-width: 450px;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: var(--send-mail-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .mailing .input-email {
    margin-right: 12px;
    max-width: 358px;
    width: 100%;
    margin-bottom: 0;
  }
}

.mailing .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: 0;
  background-color: var(--project-color);
  color: var(--third-text-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.mailing .button:hover,
.mailing .button:focus {
  /* color */
  background-color: var(--second-accent-color);
  color: var(--third-text-color);
}

.mailing .icon {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--third-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal {
  position: absolute;
  z-index: 100;
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  padding: 40px 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--third-text-color);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
    min-height: 581px;
  }
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--main-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal__close:hover,
.modal__close:focus,
.modal__close:active {
  fill: var(--project-color);
}

.icon-modal {
  fill: var(--main-text-color);
}

.modal__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__form--label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal__form--group {
  position: relative;
  margin-bottom: 10px;
}

.modal__form--input:hover,
.modal__form--input:active,
.modal__form--input:focus,
.modal__form--input:hover + .modal__form--icon,
.modal__form--input:focus + .modal__form--icon,
.modal__form--input:active + .modal__form--icon {
  fill: var(--project-color);
  border-color: var(--project-color);
}

.modal__form--input {
  display: inline-block;
  width: 100%;
  min-height: 40px;
  padding: 12px 42px;
  outline: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal__form--icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  fill: var(--main-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal__form--textarea {
  display: inline-block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: 0;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal__form--textarea:hover,
.modal__form--textarea:focus,
.modal__form--textarea:active {
  border-color: var(--project-color);
}

.modal__form--checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.modal__form--checkbox {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='white'%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: 2px solid var(--main-text-color);
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal__form--checkbox:checked {
  background-color: var(--project-color);
  border-color: var(--project-color);
}

.modal__form--description {
  line-height: 1.1666666667;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__form--description {
    line-height: 1.7142857143;
  }
}

.modal__form-link {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--project-color);
}
@media screen and (min-width: 1200px) {
  .modal__form-link {
    line-height: 1.7142857143;
  }
}

.modal__form--btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--project-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.modal__form--btn:hover,
.modal__form--btn:focus,
.modal__form--btn:active {
  background-color: var(--second-accent-color);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  position: fixed;
  width: 100%;
  padding: 48px 40px;
  z-index: 9000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  background-color: var(--third-text-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

.mobile__close--btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
}

.header__btn-icon {
  fill: var(--logo-color);
}

.mobile-menu__nav {
  margin-bottom: 302px;
}

.mobile-menu__nav-item {
  padding-bottom: 35px;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: clac(47/40);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-menu__nav-link:hover,
.mobile-menu__nav-link:focus,
.mobile-menu__nav-link:active {
  color: var(--project-color);
}

.mobile-menu__nav--current {
  color: var(--project-color);
}

.mobile-menu__contacts--item {
  margin-bottom: 32px;
}
.mobile-menu__contacts--item:last-child {
  margin-bottom: 64px;
}

.mobile-menu__contacts--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--project-color);
}

.mobile-menu__contacts--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__social-item {
  padding-right: 10px;
  padding-left: 10px;
}
.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--project-color);
}

.main {
  background-color: var(--third-text-color);
}

.portfolio {
  background-color: var(--third-text-color);
}

.portfolio .title {
  /* font */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  /* color */
  color: var(--main-text-color);
}

.portfolio .button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  /* font */
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  /* cursor */
  cursor: pointer;
  /* color */
  color: var(--main-text-color);
  background-color: var(--section-team-back-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-radius: 4px;
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.button:hover,
.button:focus {
  color: var(--third-text-color);
  background-color: var(--project-color);
  border-color: var(--project-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button .name:hover {
  color: var(--background-color);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.button-list {
  margin-bottom: 50px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects .item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .projects .item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects .item {
    max-width: 370px;
  }
}

.projects .link {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.projects .link:hover,
.projects .link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}

.projects .image {
  display: block;
}

.projects .image-box {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.project .image-box {
  position: relative;
}

.projects .img-description {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
  border-bottom: 1px solid var(--project-section-back);
  border-left: 1px solid var(--project-section-back);
  border-right: 1px solid var(--project-section-back);
}

.projects .name {
  /* font */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* color */
  color: var(--main-text-color);
  background-color: var(--third-text-color);
  margin-bottom: 4px;
}

.projects .description {
  /* font */
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  /* color */
  color: var(--second-text-color);
}

.projects .image-desc {
  position: absolute;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: left;
  background-color: var(--port-desc-back);
  color: var(--third-text-color);
  opacity: 0;
  z-index: 1;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.projects .link:focus .image-desc,
.projects .link:hover .image-desc {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */