.clients .title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.clients .list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients .item,
.clients .link {
  display: inline-block;
  max-height: 92px;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.clients .icon {
  border-radius: 4px;
  border: 1px solid var(--company-logo-color);

  width: 170px;
  height: 92px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  fill: var(--company-logo-color);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.clients .link:hover .icon,
.clients .link:focus .icon,
.clients .link:hover,
.clients .link:focus {
  fill: var(--project-color);
  border-color: var(--project-color);
  outline: transparent;
}