.section__employment {
  padding-top: 0;
  display: none;
  

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.employment__title {


  margin-top: 0px;
}

.employment__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.employment__item--image-box {
  position: relative;
}

.employment__item-description {
  position: absolute;
  bottom: 0;
  left: 0;

  text-align: center;

  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding: 27px 0;

  color: var(--third-text-color);
  background-color: var(--employment-des-back);
}