.feature__title {
  /* font */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* color */
  color: var(--main-text-color);
}

.feature__list {
  display: flex;
}

.feature__item {
  
  &:not(:last-child) {
     margin-right: 30px;
  }
 
}

.feature__item {
  &::before {
    display: block;
  content: '';
  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center;
  align-items: center;

  border-radius: 4px;

  background-color: var(--section-team-back-color);
  }
  
}

.feature__item-one::before {
  background-image: url(../images/specifics/antenna.png);
}
.feature__item-two::before {
  background-image: url(../images/specifics/clock.png);
}
.feature__item-three::before {
  background-image: url(../images/specifics/diagram.png);
}
.feature__item-four::before {
  background-image: url(../images/specifics/astronaut.png);
}

.feature__item-name {
  /* font */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* color */
  color: var(--main-text-color);

  margin-bottom: 10px;
}
.feature__item-description {
  /* font */
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  /* color */
  color: var(--second-text-color);

  margin: 0;
}