.section__hero {
  background-color: var(--hero-back-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)),
    url(../images/hero.jpg);

  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  margin: 0 auto;

  text-align: center;
}
.section__hero-title {
  /* font */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  /* color */
  color: var(--third-text-color);

  margin-bottom: 30px;

  text-transform: uppercase;
}

.section__hero-button {
  /* color */
  color: var(--third-text-color);
  background-color: var(--project-color);
  /* cursor */
  cursor: pointer;
  /* font */
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  border: 0;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.section__hero-button,
.section__hero-button {
  
  &:hover,
  &:focus {
     /* color */
  background-color: var(--second-accent-color);
  color: var(--third-text-color);
  }
}