body {
  font-weight: 400;
  font-size: 14px;
  font-family: $font-roboto;
  color: var(--main-text-color);
  background-color: var(--third-text-color);
  margin: 0;
}
.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  padding-bottom: 50px;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}