:root {
  --main-text-color: #212121;
  --project-color: #2196f3;
  --second-accent-color: #188ce8;
  --second-text-color: #757575;
  --third-text-color: #fff;
  --hero-back-color: #2f303a;
  --background-color: #f5f5f5;
  --section-team-back-color: #f5f4fa;
  --project-section-back: #eeeeee;
  --logo-color: #000;
  --header-border-line: #ececec;
  --company-logo-color: #afb1b8;
  --footer-icon-back-color: #44454e;
  --employment-des-back: rgba(47, 48, 58, 0.8);
  --port-desc-back: rgba(33, 150, 243, 0.9);
  --send-mail-text-color: #acacb0;
}

  $font-roboto:'Roboto', sans-serif;
    $font-raleway:'Raleway', sans-serif;